.site-desc {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'arial';
  font-size: 12px;
}

#lrwrap {
  -vendor-animation-delay: 2s;
}

.dlrbg {
  min-width: 1024px !important;
  min-height: 576px !important;
}

.ninja {
  width: 71px;
  height: 79px;
  position: absolute;
  top: -79px;
  left: 170px;
  background-image: url('../img/ninja_no_eyes.png');
  animation-duration: 3s;
  animation-delay: 0s;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 0s;
  -moz-animation-duration: 3s;
  -moz-animation-delay: 0s;
  -ms-animation-duration: 3s;
  -ms-animation-delay: 0s;
  -o-animation-duration: 3s;
  -o-animation-delay: 0s;
}

.eyes {
  position: absolute;
  left: 12px;
  top: 25px;
  width: 40px;
}

.eye {
    width: 16px; /*required, but can be any value*/
    height: 16px; /*required, but can be any value*/
    float: left;
}

.iris {
    background-image: url('../img/ninja_left_eye.png');
    width:7px; /*required, but can be any value*/
    height:7px; /*required, but can be any value*/
}
